body{
    background-image: url(../assets/background.png);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#app{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.layout{
    height: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex: 1;
}
.header{
    background-color: #f2f2f248;
    padding: 8px;
    padding-left: 30px;
    padding-right: 20px;
    color: #f2f2f2;
    display: flex;
}
.btn_menu{
    text-shadow: 0 4px 8px #272727;
    margin-left: 8px;
    margin-right: 8px;
    color: #f2f2f2;
    font-size: 5pt;
}
.btn_menu:hover{
    background-color: #f2f2f248;
    border-radius: 5px;
}