.formulario{
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-trilha{
    display: flex;
    flex-grow: 1;
}
.q-input{
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    width: 100%;
}
.btn{
    width: 100%;
    padding: 24px 10px;
    text-align: left;
    border: 0;
    background-color: #c4c4c4ad;
    border-left: 6px solid #186128;
    color: #186128;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.menu{
    padding-top: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 20rem;
    min-height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: #c4c4c4ad;
}
.fundo_cards{
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
    padding: 20px;
    width: 100%;
    background-color: #c4c4c4ad;
}
.add-coordenada{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-col1{
    margin: 40px;
    border-radius: 50px;
}
.cont-col2{
    margin: 40px;
    border-radius: 50px;
}